<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> <!-- Includes the head partial -->

<body>
    <div id="wrapper">
        <%- include('../partials/header') %> <!-- Includes the header partial -->
        <%- include('../partials/navigation') %> <!-- Includes the navigation partial -->

        <main>
            <%- body %> <!-- Dynamic content from individual views (like login.ejs) will be inserted here -->
        </main>

        <%- include('../partials/footer') %> <!-- Includes the footer partial -->
    </div>
</body>
</html>
